body, html{
    margin: 0;
}
.graph{
    width: 100%;
    background: #eee;
}

.graph_line{
    font-size: 0;
}

.graph_element{
    display: inline-block;
    font-size: 0;
    -webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;
    -ms-transition: background .15s linear;
    -o-transition: background .15s linear;
    transition: background .15s linear;
}